source
output
.vscode
target
dataset
__pycache__
*.pyc
bug_report
features/aspectj
features/birt
features/eclipse_platform_ui
features/swt
features/tomcat
features/jdt
*.exe
joblib_memmap_*
analysis_results
*.json
features/graph/*_dataset_analysis/*.png
*.err
*.out
